<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tech blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">tech blog</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard" class="nav-a">dashboard</a>
        <a id="logout" class="nav-a">logout</a>
        {{else}}
        <a href="/login" class="nav-a">login</a>
        <a href="/signup" class="nav-a">sign up</a>
        {{/if}}
      </nav>

    </header>

    <main>
      {{{ body }}}
    </main>
    {{!-- <footer>
      Thanks for visiting!
    </footer> --}}
  </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>